<p id="notice"><%= notice %></p>

<p>
  <strong><h2><%= @style.name %></h2></strong>
</p>

<p><%= @style.descr %></p>

<p>
  <strong>beers</strong>
</p>

<% if @beers %>
	<ul>
	  <% @beers.each do |beer| %>
	    <li> <%= link_to beer.name, beer %> by <%= link_to beer.brewery.name, beer.brewery %></li>
	  <% end %>
	</ul>
<% end %>

<% if current_user %>
	<%= link_to 'Edit', edit_style_path(@style) %> |
	<%= link_to 'Destroy', @style, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', styles_path %>
